/* CSS files add styling rules to your content */

body {
   font-family: helvetica, arial, sans-serif;
   margin: 2em;
}

h1 {
   font-style: bold, italics;

   color: #212121;
   margin-bottom: 100px;
}

h3 {
   margin-top: 100px;
   font-family: arial;
}
